header {
    background-color: blueviolet;
}

button {
    color: red;
    margin: 2px;
}

.homeButton {
    color: orange;
    display: flex;
    justify-content: center;
}

.controls {
    padding-left: 20px;
    padding-bottom: 10px;
}
